@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #2e1a47, #180d26);
  color: white;
  min-height: 100vh;
  font-family: sans-serif;
}
